/* Principal: #56e14fe6
Grises #808080, #1c2331, #FFFFFF, #141414
Secundarios: #E18956, #56BCE1, #E156A6, #8E56E1, #56E1A2 */

body {
    background-color: #141414;
    color: #808080;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #483042e6;
}
header img {
    width: 200px;
    height: auto;
}

form {
    margin: 102px auto;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 18px;
    color: #808080;
    font-family: 'Poppins', sans-serif;
}

input {
    margin-bottom: 54px;
}

button {
    background-color: #1c2331;
    border: 1px solid #823f71e6;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 38px 2px;
    cursor: pointer;
    border-radius: 18px;
}

button:hover {
    background-color: #9fef9b;
    color: #1c2331;
    border: none;
}

#resultArea {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

form label {
    color: #FFFFFF;
}

#categorySelect option:first-child {
    font-style: italic;
}

.resultItem {
    border-bottom: 1px solid #E156A6;
    padding-bottom: 20px; 
    margin-bottom: 20px;
}

.resultItem a {
    font-family: 'Poppins', sans-serif;
    color: #808080;
    font-weight: bold;
    font-style: italic;
    text-decoration: none; /* esto elimina el subrayado que suelen tener los enlaces */
}

.resultItem a:hover {
    color: #9fef9b;
}

input[type=search], select {
    border: 2.2px solid #823f71e6;;
}

input[type=search]:hover, select:hover {
    border-color: #141414; 
}

.resultItem h3 a:hover {
    color: #9fef9b;
}

#upcomingEvents {
    background-color: #9fef9b;
    color: #483042e6;
    border-bottom-right-radius: 22px;
    padding-left: 20px;
}

#contentWrapper {
    display: flex;
    justify-content: space-between;
}

main#resultArea {
    flex-basis: 70%;
}

aside#upcomingEvents {
    flex-basis: 12%;
    background-color: #9fef9b;
}
